* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.header,
.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero {
    padding: 3em 0;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

.nav {
    display: flex;
    gap: .5em;
}

.link,
.description {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.title {
    font-size: 48px;
    font-weight: 900;
    margin: .25em 0;
    flex: 1;
}

.hero-image {
    flex: 1 0 350px;
    height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8d8e91;
}

.sign-up-btn {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: .5em 1em;
    border-radius: 5px;
    margin-top: 1em;
    font-weight: 700;
}

.random-inf {
    padding: 2em 0;
}

.random-inf .wrapper {
    flex-direction: column;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.sub-header {
    color: #1f2937;
}

.illustration {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 5px;
    margin: 0 auto;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 0 100px;
}

.subtext {
    color: #8d8e91;
    font-size: 18px;
    max-width: 177px;
}

.testimonial {
    padding: 3em;
    background-color: #e5e7eb;
}

.testimonial .wrapper {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin: 0;
    text-align: left;
}

.cite {
    align-self: flex-end;
    font-weight: 900;
    color: #1f2937;
}

.cta {
    margin: 5em auto;
    background-color: #3882f6;
    display: flex;
    padding: 3em 5em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    gap: 5em;
}

.cta-title,
.cta-para {
    margin: 0;
}

.cta-para {
    opacity: 0.8;
}

.cta-btn {
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border: 1px solid white;
    padding: .3em 1em;
    border-radius: 5px;
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 2em;
}


